body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: green;
}

.app {
  width: 90%;
  margin: 0 auto;
  background-color: cadetblue;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

nav {
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: peru;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input, textarea {
  padding: 3px;
  font-size: 13px;
  margin-bottom: 8px;
  border: 1px solid peru;
  border-radius: 5px;
}

button {
  padding: 30px 30px;
  font-size: 16px;
  background-color: #28a745;
  color: blueviolet;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: teal;
}

p {
  font-size: 16px;
  color: red;
}
